body {
    background-color: black;
    margin: 0px 200px;
    font-family: 'Roboto', sans-serif;
}

/* Header and Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #1f2937;
}

.logo {
    margin-left: 200px;
    font-size: 24px;
    color: white;
    font-weight: bolder;
}

.nav-links {
    margin-right: 180px;
    color: white;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a.midlink {
    padding: 0 50px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 400px;
    background-color: #1f2937;
    padding-top: 100px;
    color: white;
    margin: 0;
}

.header-text {
    margin-left: 200px;
    height: 240px;
}

.header-text h1 {
    font-weight: 900;
    font-size: 48px;
    margin: auto;
}

.img-place {
    background-image: url(./images/imgplace.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 500px;
    margin-right: 200px;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    width: 150px;
    font-size: 18px;
    border: none;
}

/* Info section */

.info-section {
    background-color: white;
    height: 480px;
}

.info-content {
    display: flex;
    justify-content: space-between;
    margin: 0 300px;
}

.rndtext {
    display: block;
    text-align: center;
    padding: 50px 0;
    font-weight: 900;
    font-size: 36px;
}

.infobox {
    width: 160px;
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 10%;
    margin-bottom: 10px;
}

.rndboxes {
    width: 160px;
    text-align: center;
}

.boxdesc {
    color: gray;
    font-size: 17px;
}

/* Quote section */

.quote-section {
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;

}

.quote-text,
.quote-signature {
    margin: 0 300px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    text-align: left;
    height: 200px;
    margin-top: 100px;
}

.quote-signature {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    height: 100px;
    margin-right: 340px;
}

/* Signup section */

.signup-section {
    display: flex;
    height: 350px;
    width: 1430px;
    background-color: white;
}

.call-for-action {
    display: flex;
    height: 150px;
    width: 1000px;
    background-color: #3882f6;
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 10px;
}

.signup-text {
    width: 70%;
    margin: 10px 0 0 20px;
}

.signup-button {
    width: 30%;
    margin: 60px 0 0 120px;
}

.herotext {
    color: white;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    margin: 40px 0 0 100px;
}

.bigtext {
    font-size: 24px;
    font-family: Roboto;
    font-weight: bold;
}


.button {
    background-color: #3882f6;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 36px;
    width: 140px;
}

.button:hover {
    background-color: white;
    color: #3882f6;
}

footer {
    height: 100px;
    width: 1430px;
    background-color: #1f2937;
    display: flex;
    border: 1px solid;
}

.footext {
    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 100;
    margin: 38px 0 0 600px
}